*{
    list-style: none;
    text-decoration: none;
    border:none;
    color: #000;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 850px;
    margin: 0 auto;
}

.header__container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu-items{    
    height: 86px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Heebo', sans-serif;
    color: #000000 !important;
    font-weight: bold;    
    align-items: center;
}

.header__menu-item{
    padding-left: 15px;
}

.header__menu-item:first-child{
    padding: 0;
}

.header__menu-link:hover{
    color: #FF6464 ;
}
.hello{
    display: flex;
    padding: 140px 0 70px 0;
}

.hello__content-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding: 20px 0 20px 0;
}

.hello_avatar{
    padding-left: 20px;
}

.hello__image{
    height: 223px;
    width: 223px;
    border-radius: 50%;
}

.hello__content-btn{
    height: 47px;
    width: 208px;
    color:#FFF;
    background: #FF6464 ;
    border-radius: 4px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.posts{
    background: #EDF7FA;
}

.posts__wrapper{
    padding: 25px 0 25px 0;
}

.posts__header{
    display: flex;
    justify-content: space-between;
}

.posts__recent-paragraph{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
}

.posts__view{
    align-self: center;
}

.posts__view-link{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #00A8CC;
}

.post__content{
    display: flex;
    padding-bottom: 50px;
}

.post{
    background: #fff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.post:first-child{
    margin-right: 10px;
}

.post__inner{
    padding: 30px;
}

.post__inner-text{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D
}

.post__info{
    display: flex;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 20px 0 20px 0;
}

.post__info-sign{
    padding: 0 30px 0 30px;
}

.post__description{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.featured__wrapper{
    padding: 25px 0 50px 0;
}

.featured__header-text{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.featured__info{
    display: flex;
    padding: 20px 0 20px 0;
}

.featured__info-date{
    background: #142850 ;
    border-radius: 16px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    color: #FFFFFF;
    padding: 2px 8px;
    align-self: center;
}

.featured__info-text{
    margin-left: 25px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #8695A4;
}

.featured__content{
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.featured__content-text{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.featured__content-right{
    margin-left: 20px;
}

.featured__content-image{
    width: 246px;
    height: 180px;
}

.featured__content-description{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}

.footer__links > svg:not(:first-child){
    padding-left: 35px;
}

.footer__content-text{
    font-family: Heebo;
    padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

.footer{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

@media(max-width: 800px){
    .hello{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .hello__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hello__content-text, .hello__content-paragraph{
        text-align: center;
    }
}

@media(max-width: 844px){
    .posts{
        background: #fff;
    }

    .posts__view{
        display: none;
    }

    .posts__wrapper{
        display: flex;
        justify-content: center;
        padding-top: 0;
    }

    .posts__wrapper > div:nth-child(1){
        margin: 0 0 20px 0;
    }

    .posts__header{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 700px){

    .featured{
        display: flex;
        justify-content: center;
    }

    .featured__header{
        display: none;
    }

    .featured__news > div:nth-child(2), div:nth-child(3){
        display: none;
    }

    .featured__content{
        display: flex;
        flex-wrap: wrap;
    }

    .featured__content-right{
        margin-left: 0px;
    }
}

@media (max-width: 750px){
    .header__menu{
        display: none;
    }
}
